// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$mainBlue: #7476A0;
$mainGreen: #6DA252;

html{
    height: 100vh;
}
body{
    height: 100%;
}

.navbar-brand{
    color: #7476A0 !important;
    font-weight: bold;
}
nav .nav-link{
    font-weight: bold;
    color: #7476A0 !important;
}

#app{
    background: url("/Images/background.jpg");
    background-size: cover;
    height: 100%;
}

// Login 

#login-container{
    width: 450px;
    margin: auto;
}
#login-logo {
    height: 120px;
    margin-bottom: 40px;
}
#login-logo img{
    width: 100%;
    height: 100%;
}
.login-input{
    width: 100%;
    margin-bottom: 13px;
}

#login-form{
    padding: 45px;
    background: #7476A0;
    border-radius: 10px;
}

#login-form>p{
    color: #fff;
    text-align: center;
    font-size: 1rem;
}

#login-remember>p{
    display: inline;
    color: #fff;
    margin-left: 5px;
}
#login-remember>input{
    display: inline;
    border-radius: 15px;
    width: 15px;
    height: 15px;
}

#login-submit >button{
    border: 0;
    background: #6DA252;
    color: #fff;
    height: 35px;
    width: 60px;
    border-radius: 5px;
}

#login-submit >a{
    float: right;
    color:#fff;
}

// dashboard
#main{
    height: 100%;
    width: 100%;
    display: flex;
}
#side-bar{
    width: 280px;
    background: #3C3F72;
}
#dashboard{
    background: #F8F9FE;
    width: 100%;
}

#dashboard-nav{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid $mainBlue;
}
#nav-container{
    width: 100%;
    padding: 20px;
    height: 100%;
}
#nav-container> div{
    display: inline;
}
#dashboard-search{
    float: left;
}
#dashboard-options{
    float: right;
}

.dash-option{
    display: inline;
    margin: 0px 15px 0 15px;
    cursor: pointer;
}

#dash-user-icon{
    width: 30px;
    height: 30px;
}
#dash-user-name{
    display: inline;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5px;
    text-transform: capitalize;
}

.dash-drop-cont{
    width: fit-content;
    position: relative;
    display: inline;
}

@keyframes show-dash-option{
    from{
        transform:scale(0.5)
    }
    to{
        transform:scale(1)
    }
}
.dash-drop{
    position: absolute;
    display: inline;
    right: -5px;
    top:45px;
    width: fit-content;
    min-width: 150px;
    background: #fff;
    display: none;
    border-radius: 4px;
    cursor: default;

    -webkit-box-shadow: -1px 2px 25px -2px rgba(116,118,160,1);
    -moz-box-shadow: -1px 2px 25px -2px rgba(116,118,160,1);
    box-shadow: -1px 2px 25px -2px rgba(116,118,160,1);
}

.show-dash-option{
    display: block !important;
    animation-name: show-dash-option;
    animation-duration: 0.3s;
}

.dash-drop-op-list-item form{
    display: inline;
}
.dash-drop-op-list-item button{
    border:0;
    background: #fff;
    display: inline;
    font-weight: bold;
    margin-left: 5px
}
.dash-drop-op-list-item{
    cursor: pointer;
    padding: 5px
}