// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$mainBlue: #7476A0;
$mainGreen: #6DA252;
$btnGreen: #6DA252;

html{
    height: 100vh;
}
body{
    height: 100%;
}

.navbar-brand{
    color: #7476A0 !important;
    font-weight: bold;
}
nav .nav-link{
    font-weight: bold;
    color: #7476A0 !important;
}

#app{
    background: url("/Images/background.jpg");
    background-size: cover;
    height: 100%;
}

// Login 

#login-container{
    width: 450px;
    margin: auto;
}
#login-logo {
    height: 120px;
    margin-bottom: 40px;
}
#login-logo img{
    width: 100%;
    height: 100%;
}
.login-input{
    width: 100%;
    margin-bottom: 13px;
}

#login-form{
    padding: 45px;
    background: #7476A0;
    border-radius: 10px;
}

#login-form>p{
    color: #fff;
    text-align: center;
    font-size: 1rem;
}

#login-remember>p{
    display: inline;
    color: #fff;
    margin-left: 5px;
}
#login-remember>input{
    display: inline;
    border-radius: 15px;
    width: 15px;
    height: 15px;
}

#login-submit >button{
    border: 0;
    background: #6DA252;
    color: #fff;
    height: 35px;
    width: 60px;
    border-radius: 5px;
}

#login-submit >a{
    float: right;
    color:#fff;
}

// dashboard
#main{
    height: 100%;
    width: 100%;
    display: flex;
}
#side-bar{
    width: 280px;
    height: 100%;
    background: #3C3F72;
}
#dashboard{
    height: 100%;
    background: #F8F9FE;
    width: 100%;
}

#dashboard-nav{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid $mainBlue;
}
#nav-container{
    width: 100%;
    padding: 20px;
    height: 100%;
}
#nav-container> div{
    display: inline;
}
#dashboard-search{
    float: left;
}
#dashboard-options{
    float: right;
}

.dash-option{
    display: inline;
    margin: 0px 15px 0 15px;
    cursor: pointer;
}

#dash-user-icon{
    width: 30px;
    height: 30px;
}
#dash-user-name{
    display: inline;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5px;
    text-transform: capitalize;
}

.dash-drop-cont{
    width: fit-content;
    position: relative;
    display: inline;
}

@keyframes show-dash-option{
    from{
        transform:scale(0.5)
    }
    to{
        transform:scale(1)
    }
}
.dash-drop{
    position: absolute;
    display: inline;
    right: -5px;
    top:45px;
    width: fit-content;
    min-width: 150px;
    background: #fff;
    display: none;
    border-radius: 4px;
    cursor: default;
    z-index:5;

    -webkit-box-shadow: -1px 2px 25px -2px rgba(116,118,160,1);
    -moz-box-shadow: -1px 2px 25px -2px rgba(116,118,160,1);
    box-shadow: -1px 2px 25px -2px rgba(116,118,160,1);
}

.show-dash-option{
    display: block !important;
    animation-name: show-dash-option;
    animation-duration: 0.3s;
}

.dash-drop-op-list-item form{
    display: inline;
}
.dash-drop-op-list-item button{
    border:0;
    background: #fff;
    display: inline;
    font-weight: bold;
    margin-left: 5px
}
.dash-drop-op-list-item{
    cursor: pointer;
    padding: 5px
}

// Sidebar
#sidebar-cont{
    padding: 25px;
}
#company-name-cont{
    height: 35px;
    cursor: pointer;
}
#company-name-cont>img{
    height: 30px;
}
#company-name-cont>p{
    display: inline;
    padding: 15px;
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
}

@keyframes show-sidebar-hang-items{
    from{
        transform:scaleY(0.1)
    }
    to{
        transform:scaleY(1)
    }
}


.show-hangin-items{
    display: block !important;
    animation-name: show-sidebar-hang-items;
    animation-duration: 0.3s;
}


.sidebar-hang-items{
    display: none;
    cursor: default;
    margin-left: 40px;
    margin-bottom: 15px;
}
.sidebar-hang-items a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.sidebar-hang-items p{
    margin:0 0 5px 0;
    color: white;
}
.side-sel{
    font-weight: bold;
}






.font-white{
    color:white;
}

#sidebar-items-cont{
    margin-top: 25px;
}

#sidebar-items-cont ul{
    padding: 0 0 0 15px;
    list-style: none;
}
#sidebar-items-cont ul li{
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 15px;
}
.active{
    background: #F6F9FC;
    border-radius: 3px;
    padding: 5px;
}
.active span,.active p{
    color: black !important;    
}


#sidebar-items-cont ul a:hover{
    text-decoration: none;
}
#sidebar-items-cont ul li p{
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}


// Items

#items-cont{
    padding: 25px;
}

#emp-items-head-cont>p{
    width: fit-content;
    font-size: 1.5rem;
    display: inline;
    font-weight: bold;
}
#emp-items-head-cont::after{
    content: "";
    clear: both;
    display: block;
}
#emp-items-head-options-cont div{
    display: inline;
}
#emp-items-head-options-cont{
    float:right;
}

.emp-items-head-op-buttons{
    margin-right: 15px;
    color: black;
    background: white;
    padding: 4px;
    border-radius: 3px;

  -webkit-box-shadow: -4px 9px 23px -11px rgba(0,0,0,0.53);
-moz-box-shadow: -4px 9px 23px -11px rgba(0,0,0,0.53);
box-shadow: -4px 9px 23px -11px rgba(0,0,0,0.53);
}
.emp-items-head-op-buttons:last-child{
    margin-right: 9px;
}
.emp-items-head-op-buttons:first-child{
    background: #6DA252;
    padding: 4px;
    color: white;
}
.emp-items-head-op-buttons button{
    border: 0;
    background: inherit;
    color: black;
}
.emp-items-head-op-buttons a{
    text-decoration: none;
    color: white;
}
.emp-items-head-op-buttons:first-child button{
    border: 0;
    background: inherit;
    color: white;
}

#emp-items-desc-cont{
    margin-top: 10px;
    background: white;
    border-radius: 6px;

    display: flex;
}

#emp-items-desc-img{
    text-align: center;
    padding: 55px;
    flex:1;
}
#emp-items-desc-img img{
    max-height: 300px;
}
#emp-items-desc-desc{
    flex: 1;
    padding: 55px;
    margin: auto;
}
#emp-items-desc-desc p{
    text-align: justify;
    font-size: 1rem;
}

#emp-items-desc-desc-button{
    float:right;
    background: $btnGreen;
    padding: 4px;
    color: white;
}
#emp-items-desc-desc-button a{
    text-decoration: none;
    color: white;
}
#emp-items-desc-desc-button button{
    border: 0;
    background: inherit;
    font-weight: bold;
    color: white;
}

// New item

#new-items-head-cont >p{
    width: fit-content;
    font-size: 1.5rem;
    display: inline;
    font-weight: bold;
}

#new-items-desc-cont{
    margin-top: 10px;
    background: white;
    border-radius: 6px;
}

#new-items-inputs{
    padding: 25px;
    font-size: 1rem;
    font-weight: bold;
}
#new-items-inputs p{
    margin-bottom: 0.5rem;
}

.new-items-required-fields{
    color:red;
}
.new-item-item{
    margin-bottom: 15px;
}

#new-items-sale-price{
    display: flex;
    justify-content: space-between;
}
#new-items-sale-price>div{
    width:48%;
}
#new-items-sale-image .input-group{
    width:48%;
}

#new-items-inputs hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
}


#new-items-submits{
    display: flex;
    justify-content: flex-end;
}
#new-items-submits>div{
    margin-left: 15px;
}

#new-item-cancel{
    background: white;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}
#new-item-cancel button{
    border: none;
    background: inherit;
}

#new-item-submit{
    background: $btnGreen;
    color: white;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}
#new-item-submit button{
    background: inherit;
    border: none;
    color: white;
}

// No empty items

#noempty-items{
    margin-top: 10px;
    background: white;
    border-radius: 6px;

}

.item-records-image{
    height:40px;
}

.item-record-name{
    display: inline;
}
.item-record-name button{
    border: 0;
    background: 0;
    font-weight: bold;
}

section#items-results-table p,.items-records-action {
    margin: 0;
    padding-top: 10px;
}
.items-records-name{
    text-transform: capitalize;
    display: inline;
    margin-left: 10px !important;
}

.items-records-name{
    cursor: pointer;
}
#items-results-table tr:hover{
    background: #e2e4ef;
}


span.items-records-action.oi.oi-ellipses:hover {
    font-size: 18px;

}
.items-action-row{
    position: relative;
}
.item-action-drop{
    position: absolute;
    top: 45px;
    right: 150px;
    width: fit-content;
    min-width: 150px;
    background: #fff;
    display: none;
    border-radius: 4px;
    cursor: default;
    z-index:5;

    -webkit-box-shadow: -1px 2px 25px -2px rgba(116,118,160,1);
    -moz-box-shadow: -1px 2px 25px -2px rgba(116,118,160,1);
    box-shadow: -1px 2px 25px -2px rgba(116,118,160,1);
}


// Invoice

.new-item-inline{
    display: flex;
    justify-content: space-between;
}
.new-item-inline>div{
    width:48%;
}
.new-item-inline .input-group{

}

#invoice_total input{
    border:0;
}